@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

nav, section{
    width: 85%;
    margin: auto;
}

.navigation-container{
    padding: 30px 0;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.logo{
    width: 150px;
}
.logo-image{
    width: 100%;
}

 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
a{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-left: 75px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.hero-left{
    padding-right: 30%;
}
.left-content{
    display: flex;
    align-items: center;
}


.hero-left p{
    font-weight: 500;
    color: #898989;
    font-size: 18px;
    line-height: 1.7rem;
    margin: 20px 0;
}
.hero-left h1{
    line-height: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
}
.best{
    font-weight: bold;
}
.best, .hero-left h1:hover{
    color:#2D6A4F;
    transition: 0.2s ease-out;
}

.know-more{
    padding: 15px 35px;
    background-color: #2D6A4F;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}
.know-more:hover{
    background-color: #0b4f1b;
    transition: 0.3s ease-in-out;
}
.hero-right{
    width: 50%;
}

.image-container{
    display: flex;
    flex-direction: column;
}
.block1{
    display: flex;
    object-fit: cover;
}
.block2{
    display: flex;
}

.image-container img{
 width: 100%;
}

.products-link{
    width: 100%;
}
.products-link a{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-left: 75px;
    letter-spacing: 1.5px;
}

.section-heading{
    margin: 50px 0;
}
.section-heading h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: #023020;
}
.section-heading p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #2b410b;
    margin-top: 10px;
}

.products-gallery{
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    flex-wrap: wrap;
    gap: 60px;
}

.product{
    width: 250px;
    background-color: #AAB2B5;
    padding: 40px 0;
    border-radius: 10px;
}
.product-image{
    width: 150px;
    height: 200px;
    margin: auto;
}
.p-image{
    width: 100%;
    border-radius: 5px;
}
.product-details{
    /* padding: 20px;    */
    text-align: center;
}
.product h4{
    font-weight: 600;
    font-size: 1.5rem;
}
.product p{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
}
.rupees{
    font-weight: 300;
}

.motive-container{
    display: flex;
}
.motive-section{
    width: 50%;
}
.motive-section p{
    font-size: 1.5rem;
    padding-right: 10%;
    margin: 20px 0;
    line-height: 2.2rem;
    font-weight: 500;
}
.why-this-image{
    width: 50%;
    display: flex;
 
}
.first-image img{
    width: 100% ;
    border-radius: 15px ;
}